@import "commons/mixins"
@import "commons/colors"

@import bower_component_path("normalize-css/normalize.css")


.gravitation 
  position fixed
  top 0
  left 0
  z-index -1


// @media (max-width: 900px)

// @media (max-width: 640px)

    
